@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background: linear-gradient(to bottom, #797979, #0a0a0a);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
